### Tuple: is used to store multiple items in a single variable. A tuple is a collection of ordered and unchangeable items. They are are written in round brackets.

In [1]:
thetuple = ('banana', 'cherry', 'mango')
thetuple

('banana', 'cherry', 'mango')

In [2]:
#unchangebale 

thelist = ['apple', 'mango', 'pineapple', 'soursop']

thelist[2] = 'sugar'
thelist

['apple', 'mango', 'sugar', 'soursop']

In [3]:
# thetuple = ('banana', 'cherry', 'mango')
# thetuple[1] = 'meat'

#You cannot change items inside a tuple, it is immutable but you can convert to list and change 
# them and convert back to tuples as shown below

In [4]:
# There is a method known as Python casting, this will simply manipulate and 
# change different types of data structures as shown below;

thetuple
newlist = list(thetuple)
newlist

['banana', 'cherry', 'mango']

In [5]:
newlist.append('plantain')
newlist

['banana', 'cherry', 'mango', 'plantain']

In [6]:
newtuple = tuple(newlist)
newtuple

('banana', 'cherry', 'mango', 'plantain')

In [7]:
# You can concatenate two tuples as shown below; 

thetuple = ('banana', 'cherry', 'mango')
thistuple = ('food', 'cup', 'spoon')

thistuple + thetuple

('food', 'cup', 'spoon', 'banana', 'cherry', 'mango')

In [8]:
thetuple = ('banana', 'cherry', 'mango')
thislist = list(thetuple)

thislist.insert(1, 'apple')

thetuple = tuple(thislist)
thetuple

('banana', 'apple', 'cherry', 'mango')

In [9]:
#Using the len which signifies the number of items in a tuple
mytuple = ('books', 'eraser', 'pencil')
print(len(mytuple))

3

In [10]:
#tuple length

thetuple = ('banana', 'cherry', 'mango')
print(len(thetuple))

3

In [11]:
#Using the comma for tuples with one item
yourtuple = ('mango',)
type(yourtuple)

tuple

In [12]:
#tuple with one item

mytuple = ('banana',)
type(mytuple)

tuple

In [13]:
# Access tuple items
thetuple = ('banana', 'cherry', 'mango')

print(thetuple[1])

cherry

In [14]:
print(thetuple[-1])

mango

In [15]:
print(thetuple[-2:])

('cherry', 'mango')

In [16]:
print(thetuple[-3:-1])

('banana', 'cherry')

In [17]:
thetuple = ('banana', 'cherry', 'mango')
print(thetuple[:10])

('banana', 'cherry', 'mango')

In [18]:
print(thetuple[-3:])

('banana', 'cherry', 'mango')

In [19]:
print(thetuple[-1:])

('mango',)

In [20]:
print(thetuple[-3:-1])

('banana', 'cherry')

In [21]:
# Using the in keyword: Usually, you use the in keyword with the if function;  

thistuple = ('banana', 'cherry', 'mango', 'soursop', 'orange', 'grape')
if 'orange' in thistuple:
    print('Yes, there is an orange here')
else:
    print('No, it is not there')

Yes, there is an orange here

In [22]:
thistuple = ('banana', 'cherry', 'mango', 'soursop', 'orange', 'grape')
if 'shoe' in thistuple:
    print('Yes, there is a shoe here')
else:
    print('No, it is not there')

No, it is not there

In [23]:
if 'sugar' in thistuple:
    print("Yes there is sugar")
else:
    print("No, there is no sugar")

No, there is no sugar

##### Unpacking a tuple: 

this means assigning variables to items in a tuple.

In [24]:
ourtuple = ('car', 'house', 'garden')

(brown, yellow, indigo) = ourtuple

#print(ourtuple)
print(brown,indigo)

car garden

In [25]:

thetuple = ('banana', 'apple', 'carrot')

(yellow, green, red) = thetuple 

print(yellow, green, red)

banana apple carrot

In [26]:
# Using the asterisk (*)
thetuple1 = ('banana', 'yam', 'egg', 'soursop', 'apple', 'vegetable')
(yellow, brown, *white) = thetuple1

print(yellow, brown, white)

banana yam ['egg', 'soursop', 'apple', 'vegetable']

In [27]:
thetuple1 = ('banana', 'yam', 'egg', 'soursop', 'apple', 'vegetable')
(*yellow, brown, white) = thetuple1

print(yellow, brown, white)

['banana', 'yam', 'egg', 'soursop'] apple vegetable

In [28]:
thetuple1 = ('banana', 'yam', 'egg', 'soursop', 'apple', 'vegetable')
(yellow, *brown, white) = thetuple1

print(yellow,brown,white)

banana ['yam', 'egg', 'soursop', 'apple'] vegetable

In [29]:
# Using the asterisk contd (*)
thistuple = ('banana', 'cherry', 'mango', 'soursop', 'orange', 'grape')

(green, red, *blue) = thistuple

print(green, red, blue)

banana cherry ['mango', 'soursop', 'orange', 'grape']

In [30]:
thistuple = ('banana', 'cherry', 'mango', 'soursop', 'orange', 'grape')

(*green, red, blue) = thistuple

print(green, red, blue)

['banana', 'cherry', 'mango', 'soursop'] orange grape

In [31]:
# Looping tuples

thistuple = ('banana', 'cherry', 'mango', 'soursop', 'orange', 'grape')
for i in thistuple:
    print(i)

banana
cherry
mango
soursop
orange
grape

In [32]:
# Using the len function in for loop

for i in range(len(thistuple)):
    print(thistuple[i])

banana
cherry
mango
soursop
orange
grape

In [33]:
for i in range(len(thistuple)):
    print(i)

0
1
2
3
4
5

In [34]:
len(thistuple)

6

In [35]:
a = 0 
while a < len(thistuple):
    print(thistuple[a])
    a+=1 # a = a+1

banana
cherry
mango
soursop
orange
grape

In [36]:
# Using the while loop on tuples

# a = 0 
# while a < len(thistuple):
#     print(thistuple[a])
#     break
#     i+=1 #this means that you should add 1 to each level as long as it is less than thistuple 
#     # which is 6 but once it exceeds 6, it should exit the loop

In [37]:
#Tuple methods 

#count()

#syntax: tuple.count(item)

thistuple.count('orange')

1

In [38]:

a = ('jeans', 'shirt', 'belt', 'tie', 'jeans', 'shoe', 'jeans', 'jeans')

a.count('jeans')

4

### Sets: the items in a set are unordeed and unindexed

In [39]:
seta = {'beans', 'rice', 'garri', 'water', 'oil', 'pepper', 'rice'}
print(seta)

setb = {'shoe', 'lace', 'socks', 'comb'}
print(setb)

{'beans', 'rice', 'oil', 'water', 'pepper', 'garri'}
{'socks', 'lace', 'comb', 'shoe'}

### Methods

In [40]:
#add 

a = {'beans', 'rice', 'garri', 'water', 'oil', 'pepper', 'rice'}
a.add('fish')
a

{'beans', 'fish', 'garri', 'oil', 'pepper', 'rice', 'water'}

In [41]:
a.add('yam')
a

{'beans', 'fish', 'garri', 'oil', 'pepper', 'rice', 'water', 'yam'}

In [42]:
#clear(): this will erase all items within a set 
b = {'yam', 'rice', 'flour', 'water', 'cassava', 'potato', 'noodles'}
b.clear()
b

set()

In [43]:
#difference: this will return a set that contains items in the first set and not in the second
# set

x = {'apple', 'banana', 'cherry'}

y = {'google', 'microsoft', 'apple', 'banana'}

x.difference(y)

{'cherry'}

In [44]:
#discard: this removes a specified item from a set 

y = {'google', 'microsoft', 'apple', 'banana'}

y.discard('apple')
y

{'banana', 'google', 'microsoft'}

In [45]:
# intersection: returns a set that contains the items in both sets

x = {'apple', 'banana', 'cherry'}

y = {'google', 'microsoft', 'apple', 'banana'}

x.intersection(y)

{'apple', 'banana'}

In [46]:
x = {'apple', 'banana', 'cherry'}

y = {'google', 'microsoft', 'apple', 'banana'}

z = {'apple', 'cucumber', 'carrot'}

x.intersection(y,z)

{'apple'}

In [47]:
# union: returns a set that contains all items from both sets, duplicates are excluded 

x = {'apple', 'banana', 'cherry'}

y = {'google', 'microsoft', 'apple', 'banana'}

x.union(y)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [48]:
#update: insert the items from a set into another set

x = {'apple', 'banana', 'cherry'}

y = {'google', 'microsoft', 'apple', 'banana'}

x.update(y)
x

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [49]:
# Sets usually removes duplicates 
dset = {'honda', 'toyota', 'suv', 'almera', 'honda', 'prado', 'suv'}
dset

{'almera', 'honda', 'prado', 'suv', 'toyota'}

### Dictionary: this is used to store data values in key:value pairs. It is a collection of items which are ordered, changeable and does not allow duplicates

In [88]:
# Example 1; 
onedict = {'church1':'Adult', 'church2': 'Teens', 'church3': 'children'}

twodict = {'student1': '100L', 'student2': '200L', 'student3': '300L', 'student4': '400L'}

print(onedict)
print(twodict)

{'church1': 'Adult', 'church2': 'Teens', 'church3': 'children'}
{'student1': '100L', 'student2': '200L', 'student3': '300L', 'student4': '400L'}

In [89]:
# Example 2
thisdict = {'brand': 'Ford', 
            'model': 'Mustang', 
            'year': 2004}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2004}

#### Accessing the items in a Dict by the names of the keys

In [93]:
onedict['church3']

'children'

In [94]:

thisdict['model']

'Mustang'

In [95]:
thisdict['year']

2004

In [102]:
# Using the get method
thisdict.get('brand')

'Ford'

##### Updating items in a dict: It will usually return the last duplicate key:value pair

In [100]:
a = 10
a = 20
a

20

In [98]:
# First example
onedict = {'church1':'Adult', 'church2': 
           'Teens', 'church3': 'children', 
           'church2': 'Young adults'}
onedict

{'church1': 'Adult', 'church2': 'Young adults', 'church3': 'children'}

In [101]:
 
thisdict = {'brand': 'Ford', 
            'model': 'Mustang', 
            'year': 2004, 
            'model': 'Honda'
           }
thisdict

{'brand': 'Ford', 'model': 'Honda', 'year': 2004}

In [54]:
# Accessing items in the dictionary
thisdict['model']

'Honda'

In [55]:
# Using the get(): this will also access the values of the keys 
thisdict.get('year')

2004

##### Accessing the keys and values in the dictionary

In [103]:
onedict.keys()

dict_keys(['church1', 'church2', 'church3'])

In [56]:


thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [104]:
onedict.values()

dict_values(['Adult', 'Young adults', 'children'])

In [107]:
onedict.items()

dict_items([('church1', 'Adult'), ('church2', 'Young adults'), ('church3', 'children')])

In [57]:


thisdict

{'brand': 'Ford', 'model': 'Honda', 'year': 2004}

#### Adding an item to a dictionary

In [110]:
onedict['church4'] = 'Ministers'
onedict

{'church1': 'Adult',
 'church2': 'Young adults',
 'church3': 'children',
 'church4': 'Ministers'}

In [111]:
# syntax; variable[new key] = 'new value'
thisdict['color'] = 'blue'
thisdict

{'brand': 'Ford', 'model': 'Honda', 'year': 2004, 'color': 'blue'}

In [113]:
onedict = {'church1':'Adult', 'church2': 
           'Teens', 'church3': 'children', 
           'church2': 'Young adults', 
          'church5': ' '}
onedict

{'church1': 'Adult',
 'church2': 'Young adults',
 'church3': 'children',
 'church5': ' '}

In [59]:
thisdict

{'brand': 'Ford', 'model': 'Honda', 'year': 2004, 'color': 'blue'}

In [60]:
# Getting all the values at the same time by using the method values()

thisdict.values()

dict_values(['Ford', 'Honda', 2004, 'blue'])

In [61]:
# Getting all the items in the dictionary by using the method items()

thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Honda'), ('year', 2004), ('color', 'blue')])

#### Checking if a key exists in a dictionary, it checks the key not the value.

In [114]:
if 'church3' in onedict:
    print('Yes, there is')
else:
    print('None')
if 'church2' in onedict:
    print('Oh yeah')

Yes, there is
Oh yeah

In [115]:
if 'Teens' in onedict:
    print('Yeah')
else:
    print('nah')

nah

In [62]:


if 'model' in thisdict:
    print('yes, model exists in thisdict')
    
if 'ford' in thisdict:
    print('Yes, ford exists')
else:
    print('No')

yes, model exists in thisdict
No

In [63]:
if 'food' in thisdict:
    print('yes food exists in thisdict')
else: 
    print('food does not exist')

food does not exist

In [64]:
#Changing items in a dictionary
thisdict['color'] = 'red'
thisdict

{'brand': 'Ford', 'model': 'Honda', 'year': 2004, 'color': 'red'}

#### Another way of changing items in a dictionary is by using the method update()

In [120]:
onedict.update({'church5': 'Pastors'})
onedict

{'church1': 'Adult', 'church2': 'Young adults', 'church5': 'Pastors'}

In [65]:


thisdict.update({'brand': 'Toyota'}) 
thisdict

{'brand': 'Toyota', 'model': 'Honda', 'year': 2004, 'color': 'red'}

In [66]:
thisdict['driver'] = 'tall'
thisdict

{'brand': 'Toyota',
 'model': 'Honda',
 'year': 2004,
 'color': 'red',
 'driver': 'tall'}

#### Removing items in the dictionary using the method pop(), it will remove both the key and values

In [121]:
# Using the pop() method;
onedict.pop('church5')
onedict

{'church1': 'Adult', 'church2': 'Young adults'}

In [67]:
thisdict

{'brand': 'Toyota',
 'model': 'Honda',
 'year': 2004,
 'color': 'red',
 'driver': 'tall'}

In [68]:
thisdict.pop('driver')
thisdict

{'brand': 'Toyota', 'model': 'Honda', 'year': 2004, 'color': 'red'}

In [122]:
# Example 1: Using the popitem() method; this usually removes the last item
onedict.popitem()
onedict

{'church1': 'Adult'}

In [69]:
# Exmple 2: Using the popitem(): this will remove the last item (key value:pair)

thisdict.popitem()
thisdict

{'brand': 'Toyota', 'model': 'Honda', 'year': 2004}

In [70]:
# using the del: this will delete a specified key value pair inside a dictinary

del thisdict['model']
thisdict

{'brand': 'Toyota', 'year': 2004}

In [71]:
# Using the clear(): this removes everything 

thisdict.clear()
thisdict

{}

In [72]:
thisdict

{}

In [123]:
onedict.clear()
onedict

{}

In [73]:
# Looping dictionaries 

thedict= {'google': 'interet', 'laptop':'office', 'microsoft':'company', 
          'apple':'company', 'banana': 'fruit', 'software': 'computer'}

for x in thedict:
    print(x)

google
laptop
microsoft
apple
banana
software

In [129]:
for i in thedict.items():
    print(i)

('google', 'interet')
('laptop', 'office')
('microsoft', 'company')
('apple', 'company')
('banana', 'fruit')
('software', 'computer')

In [74]:
# to get all the values in the dictionary

for x in thedict.values():
    print(x)

interet
office
company
company
fruit
computer

In [75]:
# to get all the keys in a dictionary 

for x in thedict.keys():
    print(x)

google
laptop
microsoft
apple
banana
software

In [76]:
# Getting both the keys and values at the same time; this will print everything, you need to 
# quote x and y to signify key and value 
for x, y in thedict.items():
    print(x,y)

google interet
laptop office
microsoft company
apple company
banana fruit
software computer

In [77]:

thedict

{'google': 'interet',
 'laptop': 'office',
 'microsoft': 'company',
 'apple': 'company',
 'banana': 'fruit',
 'software': 'computer'}

### Manipulating the dictionary

In [ ]:
#Assigning the dict to another variable

In [130]:
newdict = thedict
newdict

{'google': 'interet',
 'laptop': 'office',
 'microsoft': 'company',
 'apple': 'company',
 'banana': 'fruit',
 'software': 'computer'}

In [131]:
#Using the copy() method
newestdict = thedict.copy()
newestdict

{'google': 'interet',
 'laptop': 'office',
 'microsoft': 'company',
 'apple': 'company',
 'banana': 'fruit',
 'software': 'computer'}

In [78]:

mydict = thedict
mydict

{'google': 'interet',
 'laptop': 'office',
 'microsoft': 'company',
 'apple': 'company',
 'banana': 'fruit',
 'software': 'computer'}

In [79]:
# copy items from a dictionary into another dictionary
yourdict = thedict.copy()
yourdict

{'google': 'interet',
 'laptop': 'office',
 'microsoft': 'company',
 'apple': 'company',
 'banana': 'fruit',
 'software': 'computer'}

In [80]:
thedict

{'google': 'interet',
 'laptop': 'office',
 'microsoft': 'company',
 'apple': 'company',
 'banana': 'fruit',
 'software': 'computer'}

In [81]:
# Another method to copy items is using the dict()

hisdict = dict(thedict)
hisdict

{'google': 'interet',
 'laptop': 'office',
 'microsoft': 'company',
 'apple': 'company',
 'banana': 'fruit',
 'software': 'computer'}

#### Nested dictionaries: Dictionary inside another dictionary

In [138]:
#Example 1:
Nigeria = {'Lagos':{'Ikeja',
                   'Anthony',
                   'Oshodi'},
           'Ogun': {'Abeokuta',
                   'Lafenwa', 
                   'Idi-Aba'},
           'Oyo': {'Ikeja', 
                   'Oluyole', 
                  'Apata'}  
    
}

Nigeria

{'Lagos': {'Anthony', 'Ikeja', 'Oshodi'},
 'Ogun': {'Abeokuta', 'Idi-Aba', 'Lafenwa'},
 'Oyo': {'Apata', 'Ikeja', 'Oluyole'}}

In [144]:
State1 = {'Lagos': 'Ikeja', 'Population': 10000000}
State2 = {'Ogun': 'Abeokuta', 'Population': 6000000}
State3 = {'Oyo': 'Ibadan', 'Population': 7000000}

Southwest = {'State1':State1, 'State2':State2, 'State3':State3}
Southwest

{'State1': {'Lagos': 'Ikeja', 'Population': 10000000},
 'State2': {'Ogun': 'Abeokuta', 'Population': 6000000},
 'State3': {'Oyo': 'Ibadan', 'Population': 7000000}}

In [82]:
# Example 2
myfamily = {
    'child1': {
        'name': 'Tosin',
        'year': 2020
    }, 
    'child2': {
        'name': 'Kola',
        'year': 2010
    },
    'child3':{
        'name': 'Kemi',
        'year': 2005
    }
}
myfamily

{'child1': {'name': 'Tosin', 'year': 2020},
 'child2': {'name': 'Kola', 'year': 2010},
 'child3': {'name': 'Kemi', 'year': 2005}}

In [83]:
child1 = {'name': 'Tosin', 'year': 2020}

child2 = {'name': 'Kola', 'year': 2010}

myfamily ={'child1': child1, 'child2': child2}
myfamily

{'child1': {'name': 'Tosin', 'year': 2020},
 'child2': {'name': 'Kola', 'year': 2010}}

In [84]:
# Dict doesn't accept duplicate keys, but can accept duplicate values

listnew = {'bola': 'pink', 'ball': 'blue', 'bolar': 'pink', 'cup': 'white'}
print(listnew)

{'bola': 'pink', 'ball': 'blue', 'bolar': 'pink', 'cup': 'white'}

In [148]:
#Ptyhon casting 
a = str(5)
type(a)

str

In [152]:
a = 'Ayo'

b = '25'

print(a + ' is ' + b + ' years old')

Ayo is 25 years old